@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}
body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}

.starting {
  color: #fff;
  letter-spacing: 2px;
  margin: 0 auto 18px auto;
  text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.8);
  word-spacing: 2px;
}

.startingOne {
  background: url("https://content.iconworldoftile.com/icon/content/slider/glazed-porcelain-tiles-60x120cm-metallic.jpg")
    no-repeat top center;
  background-size: cover !important;
  -webkit-background-size: cover !important;
  background: url("https://content.iconworldoftile.com/icon/content/slider/glazed-porcelain-tiles-60x120cm-metallic.jpg");
}

.startingTwo {
  background: url("https://content.iconworldoftile.com/icon/content/slider/glazed-porcelain-tiles-60x120cm-metallic.jpg")
    no-repeat top center;
  background-size: cover !important;
  -webkit-background-size: cover !important;
  background: url("https://content.iconworldoftile.com/icon/content/slider/glazed-porcelain-tiles-60x120cm-wood.jpg");
}
.startingThree {
  background: url("https://content.iconworldoftile.com/icon/content/slider/glazed-porcelain-tiles-60x120cm-metallic.jpg")
    no-repeat top center;
  background-size: cover !important;
  -webkit-background-size: cover !important;
  background: url("https://content.iconworldoftile.com/icon/content/slider/slider-3.jpg");
}
.startingFour {
  background: url("https://content.iconworldoftile.com/icon/content/slider/glazed-porcelain-tiles-60x120cm-metallic.jpg")
    no-repeat top center;
  background-size: cover !important;
  -webkit-background-size: cover !important;
  background: url("https://content.iconworldoftile.com/icon/content/slider/slider-4.jpg");
}
.startingFive {
  background: url("https://content.iconworldoftile.com/icon/content/slider/glazed-porcelain-tiles-60x120cm-metallic.jpg")
    no-repeat top center;
  background-size: cover !important;
  -webkit-background-size: cover !important;
  background: url("https://content.iconworldoftile.com/icon/content/slider/slider-5.jpg");
}
.startingSix {
  background: url("https://content.iconworldoftile.com/icon/content/slider/glazed-porcelain-tiles-60x120cm-metallic.jpg")
    no-repeat top center;
  background-size: cover !important;
  -webkit-background-size: cover !important;
  background: url("https://content.iconworldoftile.com/icon/content/slider/slider-6.jpg");
}
.startingSeven {
  background: url("https://content.iconworldoftile.com/icon/content/slider/glazed-porcelain-tiles-60x120cm-metallic.jpg")
    no-repeat top center;
  background-size: cover !important;
  -webkit-background-size: cover !important;
  background: url("https://content.iconworldoftile.com/icon/content/slider/slider-7.jpg");
}
.startingEight {
  background: url("https://content.iconworldoftile.com/icon/content/slider/glazed-porcelain-tiles-60x120cm-metallic.jpg")
    no-repeat top center;
  background-size: cover !important;
  -webkit-background-size: cover !important;
  background: url("https://content.iconworldoftile.com/icon/content/slider/slider-8.jpg");
}
.startingNine {
  background: url("https://content.iconworldoftile.com/icon/content/slider/glazed-porcelain-tiles-60x120cm-metallic.jpg")
    no-repeat top center;
  background-size: cover !important;
  -webkit-background-size: cover !important;
  background: url("https://content.iconworldoftile.com/icon/content/slider/slider-9.jpg");
}
.width-less {
  width: 100%;
}

.discoverOne {
  background: url("https://content.iconworldoftile.com/icon//images/home_collection/endless_marble_look_porcelain_tile.jpg")
    no-repeat top center;
  background-size: cover !important;
  -webkit-background-size: cover !important;
}
.discoverTwo {
  background: url("https://content.iconworldoftile.com/icon//images/home_collection/canvas_collection.jpg")
    no-repeat top center;
  background-size: cover !important;
  -webkit-background-size: cover !important;
}
.discoverThree {
  background: url("https://content.iconworldoftile.com/icon//images/home_collection/wooden-plank-porcelain-tile-manufacturer.jpg")
    no-repeat top center;
  background-size: cover !important;
  -webkit-background-size: cover !important;
}

.previewOne {
  background: url("https://content.iconworldoftile.com/icon/content/look/look_6128_stone-look-porcelain-stoneware-tiles.jpg")
    no-repeat top center;
  background-size: cover !important;
  -webkit-background-size: cover !important;
}
.previewTwo {
  background: url("https://content.iconworldoftile.com/icon/content/look/concrete-effect-porcelain-floor-tile.jpg")
    no-repeat top center;
  background-size: cover !important;
  -webkit-background-size: cover !important;
}
.previewThree {
  background: url("https://content.iconworldoftile.com/icon/content/look/wooden-look-porcelain-stoneware-tiles.jpg")
    no-repeat top center;
  background-size: cover !important;
  -webkit-background-size: cover !important;
}
.previewFour {
  background: url(https://content.iconworldoftile.com/icon/content/look/marble-look-porcelain-tile.jpg)
    no-repeat top center;
  background-size: cover !important;
  -webkit-background-size: cover !important;
}
.previewFive {
  background: url(https://content.iconworldoftile.com/icon/content/look/full-body-wall-and-floor-tile-manufacturer.jpg)
    no-repeat top center;
  background-size: cover !important;
  -webkit-background-size: cover !important;
}
.previewSix {
  background: url(https://content.iconworldoftile.com/icon/content/look/metal-look-porcelain-floor-tiles-and-wall-tiles.jpg)
    no-repeat top center;
  background-size: cover !important;
  -webkit-background-size: cover !important;
}
.previewSeven {
  background: url(https://content.iconworldoftile.com/icon/content/look/bathroom-ceramic-wall-tiles-manufacturer.jpg)
    no-repeat top center;
  background-size: cover !important;
  -webkit-background-size: cover !important;
}
.previewEigth {
  background: url(https://content.iconworldoftile.com/icon/content/look/kitchen-ceramic-wall-tiles-manufacturer.jpg)
    no-repeat top center;
  background-size: cover !important;
  -webkit-background-size: cover !important;
}
